{% extends 'remote/index.html' %}

{% block content %}
<div id="map-container">
    <div id="p5-canvas"></div>
</div>

<button id="find-cell-phone">Cell Phone</button>
<button id="find-screwdriver">Screwdriver</button>
<button id="find-pliers">Pliers</button>
<button id="find-hammer">Hammer</button>
<button id="find-wrench">Wrench</button>
<button id="find-scissors">Scissors</button>
<button id="find-mouse">Mouse</button>

<script src="/Little-Brother/static/p5.min.js"></script>
<!-- <script src="/Little-Brother/static/p5.sound.min.js"></script> -->
<script src="/Little-Brother/remote/map/main.js"></script>

{% endblock %}
